@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-repeat: no-repeat;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #f8dbdb 0%, #e5f8fa 90%);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav #header-cloud-ani {
  position: fixed;
  z-index: -1;
  display: block;
  left: 0;
  top: 0;
  height: 140px;
  width: 100%;
  -webkit-animation: uupDown 5s .5s linear infinite alternate;
          animation: uupDown 5s .5s linear infinite alternate;
}

nav #header-cloud-anii {
  position: fixed;
  z-index: -1;
  display: block;
  left: 0;
  top: 0;
  height: 140px;
  width: 100%;
  opacity: 0.5;
  -webkit-animation: upDown 2s 5s linear infinite alternate;
          animation: upDown 2s 5s linear infinite alternate;
}

nav #forester-logo {
  width: 100px;
}

nav #small-forester-logo {
  display: none;
}

nav #header-member {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

nav #header-member img {
  width: 50px;
  height: 50px;
}

nav .header-background-cloud {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

nav .header-background-cloud ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 10px  auto;
}

nav .header-background-cloud ul span {
  display: none;
}

nav .header-background-cloud ul li {
  display: inline-block;
}

nav .header-background-cloud ul li a {
  font-size: 22px;
  font-family: 微軟正黑體;
  font-weight: bold;
  color: #008c95;
}

@-webkit-keyframes upDown {
  0% {
    top: 0;
  }
  20% {
    top: -3px;
  }
  40% {
    top: -8px;
  }
  60% {
    top: -5px;
  }
  80% {
    top: -8px;
  }
  100% {
    top: -4px;
  }
}

@keyframes upDown {
  0% {
    top: 0;
  }
  20% {
    top: -3px;
  }
  40% {
    top: -8px;
  }
  60% {
    top: -5px;
  }
  80% {
    top: -8px;
  }
  100% {
    top: -4px;
  }
}

@-webkit-keyframes uupDown {
  0% {
    top: 0;
  }
  20% {
    top: -5px;
  }
  40% {
    top: -18px;
  }
  60% {
    top: -5px;
  }
  80% {
    top: -17px;
  }
  100% {
    top: -5px;
  }
}

@keyframes uupDown {
  0% {
    top: 0;
  }
  20% {
    top: -5px;
  }
  40% {
    top: -18px;
  }
  60% {
    top: -5px;
  }
  80% {
    top: -17px;
  }
  100% {
    top: -5px;
  }
}

/*手機漢堡堡*/
@media screen and (max-width: 767px) {
  nav #header-cloud-ani, nav #header-cloud-anii {
    display: none;
  }
  nav .header-background-cloud {
    background-color: #fff;
    width: 100%;
    height: 10vh;
    margin: auto;
    z-index: -100;
    position: relative;
  }
  nav .header-background-cloud span {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: -1;
    position: relative;
  }
  nav .header-background-cloud ul {
    margin: auto;
    display: block;
    z-index: 10;
    position: absolute;
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
  }
  nav .header-background-cloud ul #forester-logo {
    display: none;
  }
  nav .header-background-cloud ul li {
    margin: 20% auto;
    text-align: center;
    display: block;
    z-index: 10;
  }
  nav .header-background-cloud ul li a {
    font-size: 22px;
    font-family: 微軟正黑體;
    font-weight: bold;
    color: #008c95;
  }
  nav #small-forester-logo {
    position: fixed;
    display: block;
    top: 10px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1000;
    width: 100px;
  }
  .icon {
    position: fixed;
    top: 3vh;
    left: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .hamburger {
    width: 50px;
    height: 5px;
    background-color: #008c95;
    position: absolute;
    z-index: 1000;
    top: 20px;
  }
  .hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background: #008c95;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: top .5s;
    transition: top .5s;
  }
  .hamburger::before {
    top: -10px;
  }
  .hamburger::after {
    top: 10px;
  }
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
  -webkit-transition: top .5s;
  transition: top .5s;
}

.icon.active .hamburger::before {
  top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top .5s;
  transition: top .5s;
}

.icon.active .hamburger::after {
  top: 0px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: top .5s;
  transition: top .5s;
}

@-webkit-keyframes show_span {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show_span {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes noshow_span {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes noshow_span {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 200px auto 0;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  margin: 200px auto 0;
  position: relative;
  z-index: 1;
}

body {
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8dbdb), color-stop(90%, #e5f8fa));
  background-image: linear-gradient(to bottom, #f8dbdb 0%, #e5f8fa 90%);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #DAB980;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #67BE8D;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3BA261;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
}

.clearfix {
  clear: both;
}

div, h1, h2, h3, h4, h5, h6, p, span {
  font-family: '微軟正黑體';
  letter-spacing: 1.5;
}

#bg_airballoon {
  width: 30%;
  position: absolute;
  top: 300px;
  right: 0%;
}

#bg_cloud2 {
  width: 100%;
  position: absolute;
  top: 1100px;
  left: -1900px;
}

#bg_airballoon3 {
  width: 25%;
  position: absolute;
  top: 2400px;
  right: 0%;
}

.all-plan-title {
  position: relative;
}

.all-plan-title img {
  display: block;
  margin: 0 auto 70px;
  max-width: 300px;
  height: auto;
}

.all-plan-title h2 {
  display: none;
}

.explain-icons {
  position: absolute;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explain-icons .icons-all {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.explain-icons .icons-all img {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 10px;
}

.explain-icons .icons-all span {
  font-family: '微軟正黑體';
  font-size: 15px;
  color: #232323;
  letter-spacing: 1.5;
  line-height: 1.5;
  display: block;
  margin-top: 10px;
  text-align: center;
}

.allPlan-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 60px;
}

.allPlan-group .allPlan-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33.33333333333%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.allPlan-group .allPlan-box h2 {
  font-family: '微軟正黑體';
  font-size: 24px;
  font-weight: bold;
  color: #718cc6;
  letter-spacing: 1.5;
  font-weight: bold;
  width: 150px;
  margin: 0 auto 30px;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.allPlan-group .allPlan-box h2::after {
  content: '';
  width: 0px;
  height: 0px;
  border-color: #fff #fff transparent transparent;
  border-style: solid solid solid solid;
  border-width: 10px 5px 10px 5px;
  position: absolute;
  top: 40px;
  left: 10px;
}

.allPlan-group .allPlan-box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.allPlan-group .allPlan-box:hover h2 {
  color: #367473;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.allPlan-group .allPlan-box .allPlan-pic {
  width: 80%;
  height: 45%;
  position: relative;
  left: 7%;
  overflow: hidden;
  border: 5px solid white;
  border-radius: 13px;
}

.allPlan-group .allPlan-box .allPlan-pic img {
  width: 130%;
}

.allPlan-value-table {
  margin: 10px auto 0;
}

.allPlan-value-table td {
  font-family: '微軟正黑體';
  font-size: 15px;
  color: #232323;
  letter-spacing: 1.5;
  line-height: 1.5;
  padding: 5px;
  vertical-align: middle;
}

.allPlan-value-table td img {
  width: 40px;
  height: 40px;
}

#goToPlan {
  cursor: pointer;
  position: relative;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100px;
  height: 50px;
  display: inline-block;
  font-family: '微軟正黑體';
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #367473;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 1px 0px #af8c92, 0px 2px 0px #a57e85, 0px 3px 0px #9e757c, 0px 4px 0px #946970;
          box-shadow: 0px 1px 0px #af8c92, 0px 2px 0px #a57e85, 0px 3px 0px #9e757c, 0px 4px 0px #946970;
  display: block;
  width: 150px;
  margin: 20px auto 60px;
  height: 50px;
  line-height: 50px;
}

#goToPlan:hover {
  top: 4px;
  -webkit-box-shadow: 0px 1px 0px #946970, 0px 1px 0px #9e757c, 0px 2px 0px #a57e85, 0px 2px 0px #af8c92;
          box-shadow: 0px 1px 0px #946970, 0px 1px 0px #9e757c, 0px 2px 0px #a57e85, 0px 2px 0px #af8c92;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .allPlan-group {
    width: 100%;
    display: block;
    margin-bottom: 0;
  }
  .allPlan-group .allPlan-box {
    width: 100%;
    margin-bottom: 70px;
  }
  .allPlan-group .allPlan-box .allPlan-pic {
    width: 90%;
    margin: 0 5%;
    left: 0;
    height: 350px;
  }
  .allPlan-group .allPlan-box .allPlan-pic img {
    border: 0;
    -webkit-box-shadow: 3px 3px 2px #fff;
            box-shadow: 3px 3px 2px #fff;
  }
  .explain-icons {
    position: absolute;
    top: -76px;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .explain-icons .icons-all {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .explain-icons .icons-all img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
  }
  .explain-icons .icons-all span {
    font-family: '微軟正黑體';
    font-size: 15px;
    color: #232323;
    letter-spacing: 1.5;
    line-height: 1.5;
    display: block;
    margin-top: 10px;
    text-align: center;
  }
}
/*# sourceMappingURL=allPlan.css.map */