@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
}

.clearfix {
  clear: both;
}

div, h1, h2, h3, h4, h5, h6, p, span {
  font-family: '微軟正黑體';
  letter-spacing: 1.5;
}

body {
  background-repeat: no-repeat;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #f8dbdb 0%, #e5f8fa 90%);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav #header-cloud-ani {
  position: fixed;
  z-index: -1;
  display: block;
  left: 0;
  top: 0;
  height: 140px;
  width: 100%;
  -webkit-animation: uupDown 5s .5s linear infinite alternate;
          animation: uupDown 5s .5s linear infinite alternate;
}

nav #header-cloud-anii {
  position: fixed;
  z-index: -1;
  display: block;
  left: 0;
  top: 0;
  height: 140px;
  width: 100%;
  opacity: 0.5;
  -webkit-animation: upDown 2s 5s linear infinite alternate;
          animation: upDown 2s 5s linear infinite alternate;
}

nav #forester-logo {
  width: 100px;
}

nav #small-forester-logo {
  display: none;
}

nav #header-member {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

nav #header-member img {
  width: 50px;
  height: 50px;
}

nav .header-background-cloud {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

nav .header-background-cloud ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 10px  auto;
}

nav .header-background-cloud ul span {
  display: none;
}

nav .header-background-cloud ul li {
  display: inline-block;
}

nav .header-background-cloud ul li a {
  font-size: 22px;
  font-family: 微軟正黑體;
  font-weight: bold;
  color: #008c95;
}

@-webkit-keyframes upDown {
  0% {
    top: 0;
  }
  20% {
    top: -3px;
  }
  40% {
    top: -8px;
  }
  60% {
    top: -5px;
  }
  80% {
    top: -8px;
  }
  100% {
    top: -4px;
  }
}

@keyframes upDown {
  0% {
    top: 0;
  }
  20% {
    top: -3px;
  }
  40% {
    top: -8px;
  }
  60% {
    top: -5px;
  }
  80% {
    top: -8px;
  }
  100% {
    top: -4px;
  }
}

@-webkit-keyframes uupDown {
  0% {
    top: 0;
  }
  20% {
    top: -5px;
  }
  40% {
    top: -18px;
  }
  60% {
    top: -5px;
  }
  80% {
    top: -17px;
  }
  100% {
    top: -5px;
  }
}

@keyframes uupDown {
  0% {
    top: 0;
  }
  20% {
    top: -5px;
  }
  40% {
    top: -18px;
  }
  60% {
    top: -5px;
  }
  80% {
    top: -17px;
  }
  100% {
    top: -5px;
  }
}

/*手機漢堡堡*/
@media screen and (max-width: 767px) {
  nav #header-cloud-ani, nav #header-cloud-anii {
    display: none;
  }
  nav .header-background-cloud {
    background-color: #fff;
    width: 100%;
    height: 10vh;
    margin: auto;
    z-index: -100;
    position: relative;
  }
  nav .header-background-cloud span {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: -1;
    position: relative;
  }
  nav .header-background-cloud ul {
    margin: auto;
    display: block;
    z-index: 10;
    position: absolute;
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
  }
  nav .header-background-cloud ul #forester-logo {
    display: none;
  }
  nav .header-background-cloud ul li {
    margin: 20% auto;
    text-align: center;
    display: block;
    z-index: 10;
  }
  nav .header-background-cloud ul li a {
    font-size: 22px;
    font-family: 微軟正黑體;
    font-weight: bold;
    color: #008c95;
  }
  nav #small-forester-logo {
    position: fixed;
    display: block;
    top: 10px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1000;
    width: 100px;
  }
  .icon {
    position: fixed;
    top: 3vh;
    left: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .hamburger {
    width: 50px;
    height: 5px;
    background-color: #008c95;
    position: absolute;
    z-index: 1000;
    top: 20px;
  }
  .hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background: #008c95;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: top .5s;
    transition: top .5s;
  }
  .hamburger::before {
    top: -10px;
  }
  .hamburger::after {
    top: 10px;
  }
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
  -webkit-transition: top .5s;
  transition: top .5s;
}

.icon.active .hamburger::before {
  top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top .5s;
  transition: top .5s;
}

.icon.active .hamburger::after {
  top: 0px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: top .5s;
  transition: top .5s;
}

@-webkit-keyframes show_span {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show_span {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes noshow_span {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes noshow_span {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 200px auto 0;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  margin: 200px auto 0;
  position: relative;
  z-index: 1;
}

body {
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8dbdb), color-stop(90%, #e5f8fa));
  background-image: linear-gradient(to bottom, #f8dbdb 0%, #e5f8fa 90%);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #DAB980;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #67BE8D;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3BA261;
}

body {
  height: 100vh;
  min-height: 550px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #403d04;
  border-bottom: 2px dotted #ffdb3f;
}

.background {
  width: 100%;
  height: 100vh;
  outline: #000 solid 1px;
  background-image: url(../../images/member/index_trees.png);
  background-repeat: repeat-x;
  background-position: 5% 70%;
}

.title {
  font-family: '微軟正黑體';
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  letter-spacing: 1.5;
  text-align: center;
  margin-bottom: 30px;
}

.desc {
  font-family: '微軟正黑體';
  font-size: 15px;
  color: #232323;
  letter-spacing: 1.5;
  line-height: 1.5;
  color: #fff;
}

.login-reg-panel {
  text-align: center;
  width: 90%;
  margin: auto;
  height: 550px;
  background-color: #EFA204;
  border-radius: 20px;
  -webkit-box-shadow: 5px 10px 30px #ccc;
          box-shadow: 5px 10px 30px #ccc;
  background: url(http://api.thumbr.it/whitenoise-361x370.png?background=e6ad6cff&noise=ffffff&density=15&opacity=35);
  overflow: hidden;
}

.white-panel {
  background-color: white;
  height: 550px;
  position: absolute;
  border-radius: 5px;
  width: 50%;
  right: calc(50% - 50px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  z-index: 0;
}

.login-reg-panel input[type="radio"] {
  position: relative;
  display: none;
}

.login-reg-panel #label-login,
.login-reg-panel #label-register {
  cursor: pointer;
  position: relative;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100px;
  height: 50px;
  display: inline-block;
  font-family: '微軟正黑體';
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #bbb, 0px 3px 0px #aaa, 0px 4px 0px #999;
          box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #bbb, 0px 3px 0px #aaa, 0px 4px 0px #999;
  padding-top: 15px;
  margin-top: 15px;
  height: 30px;
  cursor: pointer;
}

.login-reg-panel #label-login:hover,
.login-reg-panel #label-register:hover {
  top: 4px;
  -webkit-box-shadow: 0px 1px 0px #ccc, 0px 1px 0px #bbb, 0px 2px 0px #aaa, 0px 2px 0px #999;
          box-shadow: 0px 1px 0px #ccc, 0px 1px 0px #bbb, 0px 2px 0px #aaa, 0px 2px 0px #999;
}

.login-info-box {
  padding: 0 100px;
  top: 15%;
  position: absolute;
  text-align: center;
}

.login-info-box * {
  margin: 50px 0;
}

.login-info-box #dropping-bear {
  width: 30%;
  position: absolute;
  left: -2%;
  top: 50px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.login-info-box #dropping-bear2 {
  width: 20%;
  position: absolute;
  left: 80%;
  top: 0px;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

.register-info-box {
  padding: 0 10px;
  top: 15%;
  right: 9%;
  position: absolute;
  text-align: center;
}

.register-info-box * {
  margin: 50px 0;
}

.register-info-box #talking-bear {
  width: 50%;
  position: absolute;
  bottom: -90%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: yoyo 2s infinite ease-in-out;
          animation: yoyo 2s infinite ease-in-out;
}

.register-info-box #flying-butterfly {
  width: 10%;
  position: absolute;
  top: -30px;
  left: 0px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.register-info-box #flying-butterfly2 {
  width: 12%;
  position: absolute;
  top: -50px;
  right: 0px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@-webkit-keyframes yoyo {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes yoyo {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.right-log {
  right: 50px !important;
}

.login-show,
.register-show {
  z-index: 1;
  display: none;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-align: left;
  padding: 40px;
  font-family: '微軟正黑體';
  font-size: 15px;
  color: #232323;
  letter-spacing: 1.5;
  line-height: 1.5;
  font-size: 16px;
}

.show-log-panel {
  display: block;
  opacity: 0.9;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 96%;
  display: block;
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #b5b5b5;
  outline: none;
}

.login-show input[type="submit"] {
  cursor: pointer;
  position: relative;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100px;
  height: 50px;
  display: inline-block;
  font-family: '微軟正黑體';
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #f45a26;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #bbb, 0px 3px 0px #aaa, 0px 4px 0px #999;
          box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #bbb, 0px 3px 0px #aaa, 0px 4px 0px #999;
  max-width: 150px;
  width: 100%;
  margin-top: 25px;
  left: 30%;
  cursor: pointer;
}

.login-show input[type="submit"]:hover {
  top: 4px;
  -webkit-box-shadow: 0px 1px 0px #ccc, 0px 1px 0px #bbb, 0px 2px 0px #aaa, 0px 2px 0px #999;
          box-shadow: 0px 1px 0px #ccc, 0px 1px 0px #bbb, 0px 2px 0px #aaa, 0px 2px 0px #999;
}

.register-show input[type="submit"] {
  cursor: pointer;
  position: relative;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100px;
  height: 50px;
  display: inline-block;
  font-family: '微軟正黑體';
  font-size: 18px;
  font-weight: bold;
  color: #f9f9f9;
  text-align: center;
  vertical-align: middle;
  background-color: #f45a26;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #bbb, 0px 3px 0px #aaa, 0px 4px 0px #999;
          box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #bbb, 0px 3px 0px #aaa, 0px 4px 0px #999;
  max-width: 150px;
  margin-top: 5px;
  width: 100%;
  left: 35%;
  cursor: pointer;
}

.register-show input[type="submit"]:hover {
  top: 4px;
  -webkit-box-shadow: 0px 1px 0px #ccc, 0px 1px 0px #bbb, 0px 2px 0px #aaa, 0px 2px 0px #999;
          box-shadow: 0px 1px 0px #ccc, 0px 1px 0px #bbb, 0px 2px 0px #aaa, 0px 2px 0px #999;
}

.login-reg-panel-rwd {
  display: none;
}

#register-finish,
#login-finish {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
}

#register-finish #register-finishbox,
#register-finish #login-finishbox,
#login-finish #register-finishbox,
#login-finish #login-finishbox {
  border-radius: 10%;
  border: 2px solid #ffa754;
  width: 30%;
  height: 30vh;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

#register-finish #register-finishbox p,
#register-finish #login-finishbox p,
#login-finish #register-finishbox p,
#login-finish #login-finishbox p {
  margin: auto;
  text-align: center;
  line-height: 30vh;
}

#forgetpsw {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
}

#forgetpsw #forgetpswbox {
  border-radius: 10%;
  border: 2px solid #4140406e;
  width: 20%;
  height: 30vh;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

#forgetpsw #forgetpswbox #cancel {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 15px;
  height: 15px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 50%;
}

#forgetpsw #forgetpswbox #cancel img {
  width: 100%;
}

#forgetpsw #forgetpswbox #cancel:hover {
  background-color: #ddd;
}

#forgetpsw #forgetpswbox p {
  margin: 20% 5% 10% 5%;
  text-align: center;
}

#forgetpsw #forgetpswbox #mailtext {
  width: 60%;
  margin: auto;
}

#forgetpsw #forgetpswbox #forgettext {
  margin: 1%;
}

#forgetpsw #forgetpswbox #forgetsend {
  margin: 3%;
}

@media (max-width: 760px) {
  #register-finish,
  #login-finish {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
  }
  #register-finish #register-finishbox,
  #register-finish #login-finishbox,
  #login-finish #register-finishbox,
  #login-finish #login-finishbox {
    border-radius: 10%;
    border: 2px solid #ffa754;
    width: 250px;
    height: 20vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  #register-finish #register-finishbox p,
  #register-finish #login-finishbox p,
  #login-finish #register-finishbox p,
  #login-finish #login-finishbox p {
    margin: auto;
    text-align: center;
    line-height: 17vh;
  }
  #forgetpsw {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
  }
  #forgetpsw #forgetpswbox {
    border-radius: 10%;
    border: 2px solid #4140406e;
    width: 250px;
    height: 20vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }
  #forgetpsw #forgetpswbox span {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 15px;
    height: 15px;
  }
  #forgetpsw #forgetpswbox span img {
    width: 100%;
  }
  #forgetpsw #forgetpswbox p {
    margin: 20% 5% 10% 5%;
    text-align: center;
  }
  #forgetpsw #forgetpswbox input {
    width: 60%;
    margin: auto;
  }
  #forgetpsw #forgetpswbox button {
    margin: 5%;
  }
  .login-reg-panel-rwd {
    display: block;
    width: 320px;
    margin: 100px auto;
    background-image: url(../../images/member/login_bg.jpg);
    -webkit-box-shadow: 5px 10px 30px #ccc;
            box-shadow: 5px 10px 30px #ccc;
  }
  .login-reg-panel-rwd #flying-butterfly_rwd {
    width: 10%;
    position: absolute;
    top: -30px;
    left: 0px;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  .login-reg-panel-rwd #flying-butterfly2_rwd {
    width: 15%;
    position: absolute;
    top: -50px;
    right: 0px;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .login-reg-panel-rwd .register-rwd {
    display: none;
  }
  .login-reg-panel-rwd .login-rwd,
  .login-reg-panel-rwd .register-rwd {
    width: 90%;
    margin: 40px auto;
  }
  .login-reg-panel-rwd .title {
    color: #000;
  }
  .login-reg-panel-rwd .swithBtn .signUpSwitchBtn,
  .login-reg-panel-rwd .swithBtn .loginSwitchBtn {
    font-family: '微軟正黑體';
    font-size: 24px;
    font-weight: bold;
    color: #403d04;
    letter-spacing: 1.5;
    display: inline-block;
    width: calc(50% - 4px);
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
  }
  .login-reg-panel-rwd .active {
    background-color: #ffdb3f;
  }
  .login-reg-panel-rwd input[type="submit"] {
    cursor: pointer;
    position: relative;
    top: 0;
    -webkit-transition: .3s;
    transition: .3s;
    width: 100px;
    height: 50px;
    display: inline-block;
    font-family: '微軟正黑體';
    font-size: 18px;
    font-weight: bold;
    color: #f9f9f9;
    text-align: center;
    vertical-align: middle;
    background-color: #ffa754;
    border-radius: 10px;
    border: none;
    -webkit-box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #bbb, 0px 3px 0px #aaa, 0px 4px 0px #999;
            box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #bbb, 0px 3px 0px #aaa, 0px 4px 0px #999;
    max-width: 150px;
    margin-top: 30px;
    width: 100%;
    left: 27%;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .login-reg-panel-rwd input[type="submit"]:hover {
    top: 4px;
    -webkit-box-shadow: 0px 1px 0px #ccc, 0px 1px 0px #bbb, 0px 2px 0px #aaa, 0px 2px 0px #999;
            box-shadow: 0px 1px 0px #ccc, 0px 1px 0px #bbb, 0px 2px 0px #aaa, 0px 2px 0px #999;
  }
  .login-reg-panel-rwd input[type="text"],
  .login-reg-panel-rwd input[type="password"] {
    width: 90%;
  }
  .login-reg-panel {
    display: none;
  }
}

.go-to-member {
  cursor: pointer;
  position: relative;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100px;
  height: 50px;
  display: inline-block;
  font-family: '微軟正黑體';
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #f45a26;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #bbb, 0px 3px 0px #aaa, 0px 4px 0px #999;
          box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #bbb, 0px 3px 0px #aaa, 0px 4px 0px #999;
  display: block;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
}

.go-to-member:hover {
  top: 4px;
  -webkit-box-shadow: 0px 1px 0px #ccc, 0px 1px 0px #bbb, 0px 2px 0px #aaa, 0px 2px 0px #999;
          box-shadow: 0px 1px 0px #ccc, 0px 1px 0px #bbb, 0px 2px 0px #aaa, 0px 2px 0px #999;
}
/*# sourceMappingURL=login.css.map */