@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-repeat: no-repeat;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #f8dbdb 0%, #e5f8fa 90%);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav #header-cloud-ani {
  position: fixed;
  z-index: -1;
  display: block;
  left: 0;
  top: 0;
  height: 140px;
  width: 100%;
  -webkit-animation: uupDown 5s .5s linear infinite alternate;
          animation: uupDown 5s .5s linear infinite alternate;
}

nav #header-cloud-anii {
  position: fixed;
  z-index: -1;
  display: block;
  left: 0;
  top: 0;
  height: 140px;
  width: 100%;
  opacity: 0.5;
  -webkit-animation: upDown 2s 5s linear infinite alternate;
          animation: upDown 2s 5s linear infinite alternate;
}

nav #forester-logo {
  width: 100px;
}

nav #small-forester-logo {
  display: none;
}

nav #header-member {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

nav #header-member img {
  width: 50px;
  height: 50px;
}

nav .header-background-cloud {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

nav .header-background-cloud ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 10px  auto;
}

nav .header-background-cloud ul span {
  display: none;
}

nav .header-background-cloud ul li {
  display: inline-block;
}

nav .header-background-cloud ul li a {
  font-size: 22px;
  font-family: 微軟正黑體;
  font-weight: bold;
  color: #008c95;
}

@-webkit-keyframes upDown {
  0% {
    top: 0;
  }
  20% {
    top: -3px;
  }
  40% {
    top: -8px;
  }
  60% {
    top: -5px;
  }
  80% {
    top: -8px;
  }
  100% {
    top: -4px;
  }
}

@keyframes upDown {
  0% {
    top: 0;
  }
  20% {
    top: -3px;
  }
  40% {
    top: -8px;
  }
  60% {
    top: -5px;
  }
  80% {
    top: -8px;
  }
  100% {
    top: -4px;
  }
}

@-webkit-keyframes uupDown {
  0% {
    top: 0;
  }
  20% {
    top: -5px;
  }
  40% {
    top: -18px;
  }
  60% {
    top: -5px;
  }
  80% {
    top: -17px;
  }
  100% {
    top: -5px;
  }
}

@keyframes uupDown {
  0% {
    top: 0;
  }
  20% {
    top: -5px;
  }
  40% {
    top: -18px;
  }
  60% {
    top: -5px;
  }
  80% {
    top: -17px;
  }
  100% {
    top: -5px;
  }
}

/*手機漢堡堡*/
@media screen and (max-width: 767px) {
  nav #header-cloud-ani, nav #header-cloud-anii {
    display: none;
  }
  nav .header-background-cloud {
    background-color: #fff;
    width: 100%;
    height: 10vh;
    margin: auto;
    z-index: -100;
    position: relative;
  }
  nav .header-background-cloud span {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: -1;
    position: relative;
  }
  nav .header-background-cloud ul {
    margin: auto;
    display: block;
    z-index: 10;
    position: absolute;
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
  }
  nav .header-background-cloud ul #forester-logo {
    display: none;
  }
  nav .header-background-cloud ul li {
    margin: 20% auto;
    text-align: center;
    display: block;
    z-index: 10;
  }
  nav .header-background-cloud ul li a {
    font-size: 22px;
    font-family: 微軟正黑體;
    font-weight: bold;
    color: #008c95;
  }
  nav #small-forester-logo {
    position: fixed;
    display: block;
    top: 10px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1000;
    width: 100px;
  }
  .icon {
    position: fixed;
    top: 3vh;
    left: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .hamburger {
    width: 50px;
    height: 5px;
    background-color: #008c95;
    position: absolute;
    z-index: 1000;
    top: 20px;
  }
  .hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background: #008c95;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: top .5s;
    transition: top .5s;
  }
  .hamburger::before {
    top: -10px;
  }
  .hamburger::after {
    top: 10px;
  }
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
  -webkit-transition: top .5s;
  transition: top .5s;
}

.icon.active .hamburger::before {
  top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top .5s;
  transition: top .5s;
}

.icon.active .hamburger::after {
  top: 0px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: top .5s;
  transition: top .5s;
}

@-webkit-keyframes show_span {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show_span {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes noshow_span {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes noshow_span {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 200px auto 0;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  margin: 200px auto 0;
  position: relative;
  z-index: 1;
}

body {
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8dbdb), color-stop(90%, #e5f8fa));
  background-image: linear-gradient(to bottom, #f8dbdb 0%, #e5f8fa 90%);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #DAB980;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #67BE8D;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3BA261;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
}

.clearfix {
  clear: both;
}

div, h1, h2, h3, h4, h5, h6, p, span {
  font-family: '微軟正黑體';
  letter-spacing: 1.5;
}

body {
  font-family: '微軟正黑體';
}

.step_group {
  margin: auto;
  padding-top: 10px;
  position: relative;
}

.step_group::after {
  content: '';
  display: inline-block;
  width: 80%;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.74);
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}

.step_group .step_process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.step_group .step_process li {
  position: relative;
}

.step_group .step_process li::after {
  content: '';
  min-width: 85px;
  min-height: 84px;
  background-image: url(../images/lightCircle.png);
  background-size: contain;
  position: absolute;
  top: -7px;
  left: -7px;
  -webkit-animation: 20s linear rot infinite;
          animation: 20s linear rot infinite;
}

.step_group .step_process > li {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: sandybrown;
  border-radius: 50%;
  color: #fff;
  font-family: '微軟正黑體';
  font-size: 15px;
  text-align: center;
  line-height: 4.7;
  border: 2px solid #fff;
  position: relative;
}

@-webkit-keyframes rot {
  from {
    -webkit-transform: rotate(0deg) infinite;
            transform: rotate(0deg) infinite;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rot {
  from {
    -webkit-transform: rotate(0deg) infinite;
            transform: rotate(0deg) infinite;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .step_group .step_process > li {
    width: 100px;
    height: 100px;
    font-size: 20px;
    line-height: 5;
  }
  .step_group .step_process li::after {
    content: '';
    min-width: 120px;
    min-height: 119px;
    background-image: url(../images/lightCircle.png);
    background-size: contain;
    position: absolute;
    top: -10px;
    left: -10px;
    -webkit-animation: 20s linear rot infinite;
            animation: 20s linear rot infinite;
  }
}

.order_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order_container .calendar {
  position: relative;
  padding: 0 2%;
}

.order_container .calendar img {
  width: 100%;
  height: 400px;
}

.order_container .calendar .box {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.order_container .calendar .box .calender_mon_title {
  text-align: center;
  margin-bottom: 25px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 24px;
}

.order_container .calendar .box .calender_mon_title #show_year, .order_container .calendar .box .calender_mon_title #show_mon {
  font-size: 30px;
  margin: 0 15px;
}

.order_container .calendar .box .calender_mon_title span > i {
  font-size: 30px;
  margin: 0 30px;
  -webkit-transition: .8s;
  transition: .8s;
}

.order_container .calendar .box .calender_mon_title span > i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #8d4a16;
}

@media screen and (min-width: 768px) {
  .order_container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .order_container .calendar {
    width: 55%;
    padding: 0;
  }
}

.body-list > ul {
  width: 100%;
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
}

.body-list ul > li {
  width: 14.2%;
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  list-style-type: none;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  text-align: center;
}

.light {
  color: #fff;
  /*浅灰色*/
}

.dark {
  color: #8d4a16;
  /*今日後的字體顏色*/
}

.c_font {
  color: #8d4a16;
  /*當日字體顏色*/
}

.c_box {
  border: 1px solid #fff;
  background: #ffbfcb;
  /*當日背景色*/
}

.ticket {
  margin: auto;
  padding: 0 2%;
}

.ticket .ticket_disabled, .ticket .ticket_student, .ticket .ticket_adult {
  margin: 10px 0;
  position: relative;
}

.ticket .ticket_disabled img, .ticket .ticket_student img, .ticket .ticket_adult img {
  width: 100%;
}

.ticket .ticket_disabled .t_name, .ticket .ticket_student .t_name, .ticket .ticket_adult .t_name {
  position: absolute;
  left: 15%;
  top: 35%;
  color: #fff;
  font-family: '微軟正黑體';
  font-size: 20px;
}

.ticket .ticket_disabled .t_disabled::after, .ticket .ticket_student .t_disabled::after, .ticket .ticket_adult .t_disabled::after {
  content: '4~6歲及65歲以上';
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
}

.ticket .ticket_disabled .t_student::after, .ticket .ticket_student .t_student::after, .ticket .ticket_adult .t_student::after {
  content: '入營請出示學生證';
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
}

.ticket .ticket_disabled .t_quantity, .ticket .ticket_student .t_quantity, .ticket .ticket_adult .t_quantity {
  position: absolute;
  top: 28%;
  right: 10%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ticket .ticket_disabled .t_quantity .t_less, .ticket .ticket_disabled .t_quantity .t_add, .ticket .ticket_student .t_quantity .t_less, .ticket .ticket_student .t_quantity .t_add, .ticket .ticket_adult .t_quantity .t_less, .ticket .ticket_adult .t_quantity .t_add {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #F0B81B;
  outline: 0;
  cursor: pointer;
  margin: 0 5%;
}

.ticket .ticket_disabled .t_quantity .t_less i, .ticket .ticket_disabled .t_quantity .t_add i, .ticket .ticket_student .t_quantity .t_less i, .ticket .ticket_student .t_quantity .t_add i, .ticket .ticket_adult .t_quantity .t_less i, .ticket .ticket_adult .t_quantity .t_add i {
  font-size: 20px;
  color: #fff;
}

.ticket .ticket_disabled .t_quantity .t_num, .ticket .ticket_student .t_quantity .t_num, .ticket .ticket_adult .t_quantity .t_num {
  display: block;
  width: 50%;
  height: 40px;
  background-color: #fff;
  text-align: center;
  font-size: 28px;
  line-height: 1.4;
  color: #706456;
}

.btn_group::after {
  content: '';
  display: block;
  clear: both;
}

#pre_btn, #next_btn {
  cursor: pointer;
  position: relative;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100px;
  height: 50px;
  display: inline-block;
  font-family: '微軟正黑體';
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: #f7bac2;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 1px 0px #af8c92, 0px 2px 0px #a57e85, 0px 3px 0px #9e757c, 0px 4px 0px #946970;
          box-shadow: 0px 1px 0px #af8c92, 0px 2px 0px #a57e85, 0px 3px 0px #9e757c, 0px 4px 0px #946970;
  line-height: 2.5;
}

#pre_btn:hover, #next_btn:hover {
  top: 4px;
  -webkit-box-shadow: 0px 1px 0px #946970, 0px 1px 0px #9e757c, 0px 2px 0px #a57e85, 0px 2px 0px #af8c92;
          box-shadow: 0px 1px 0px #946970, 0px 1px 0px #9e757c, 0px 2px 0px #a57e85, 0px 2px 0px #af8c92;
}

#pre_btn {
  float: left;
}

#next_btn {
  float: right;
}

.activity_container {
  margin-top: 5vh;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.activity_container h3 {
  font-family: '微軟正黑體';
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1.5;
  text-align: center;
  margin: 2vh auto 5vh;
}

.item > button {
  width: 50px;
  height: 30px;
  display: block;
  margin: 10px auto;
  background-color: #706456;
  outline: none;
  border: none;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
}

.item > button:hover {
  background-color: #fff;
  color: #706456;
}

.activity_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 7px dashed #808080;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}

.activity_group .item {
  width: 33.333333%;
}

.activity_group .item h4 {
  font-family: '微軟正黑體';
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1.5;
  text-align: center;
  margin: 10px 0 20px 0;
}

.item_img {
  margin-top: 15px;
}

.item_img img {
  width: 100%;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(37% at 50% 50%);
}

.activity_none {
  width: 100%;
}

.activity_none span {
  width: 50%;
  display: block;
  text-align: center;
  font-family: '微軟正黑體';
  font-weight: bold;
  color: #706456;
  cursor: pointer;
  font-size: 20px;
  margin: 5vh auto;
}

.activity_none span::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 3px solid #706456;
  border-radius: 4px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .activity_none span {
    width: 20%;
  }
}

.confirm_container {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
}

.confirm_container .confirm_box {
  width: 100%;
  height: 300px;
  padding: 2%;
  vertical-align: middle;
  margin-bottom: 40px;
}

.confirm_container .confirm_box h3 {
  font-family: '微軟正黑體';
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1.5;
  text-align: center;
  margin-bottom: 3vh;
}

.confirm_container .confirm_box .confirm {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  border: 7px dashed #808080;
}

.confirm_container .confirm_box .confirm table {
  width: 100%;
  font-size: 20px;
}

.confirm_container .confirm_box .confirm table th {
  padding: 2%;
}

.confirm_container .confirm_box .confirm table td {
  padding: 3%;
  text-align: center;
}

.confirm_container .confirm_box span {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 25px;
  font-size: 20px;
}

.confirm_container .show_total {
  display: none;
  text-align: center;
  margin-top: 5vh;
  color: #fff;
  font-size: 22px;
}

.confirm_container .show_total .entrance, .confirm_container .show_total .total {
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  .confirm_container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .confirm_container .confirm_box {
    width: 50%;
  }
  .confirm_container .confirm_box .confirm {
    height: 205px;
    overflow: scroll;
  }
}

.credit_container {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
}

.credit_container .ct_rule, .credit_container .ct_credit {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5%;
}

.credit_container .ct_rule h3, .credit_container .ct_credit h3 {
  font-family: '微軟正黑體';
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1.5;
  margin-bottom: 3vh;
}

.ct_rule > p {
  padding: 5px 0;
}

.ct_rule_check > label {
  display: block;
  position: relative;
  padding: 4px 0px 4px 35px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.ct_rule_check > label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.ct_rule_check > label .check_mark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #706456;
  border-radius: 4px;
}

.ct_rule_check > p {
  padding: 4px 0 4px 37px;
}

.ct_rule_check label input:checked ~ .check_mark {
  background-color: #706456;
}

.check_mark:after {
  content: '';
  position: absolute;
  display: none;
}

.ct_rule_check label input:checked ~ .check_mark:after {
  display: block;
}

.ct_rule_check label .check_mark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.ct_credit .ct_credit_txt ul {
  font-size: 18px;
}

.ct_credit .ct_credit_txt ul li:not(:first-child) {
  padding-top: 15px;
}

.ct_credit .ct_credit_txt ul li span:first-child {
  margin-right: 20px;
}

.ct_credit .ct_credit_txt ul li input {
  width: 52%;
  height: 32px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ct_credit .ct_credit_txt ul li input.credit {
  width: 12%;
  padding: 0 2px;
}

.ct_credit .ct_credit_txt ul .credit_month {
  height: 32px;
  margin-left: 8px;
}

.ct_credit .ct_credit_txt ul .credit_year {
  height: 32px;
}

.ct_credit .ct_credit_txt ul li:nth-child(4) input {
  width: 80px;
  margin-left: 35px;
}

.ct_credit .ct_credit_txt ul .ct_icon {
  text-align: center;
}

.ct_credit .ct_credit_txt ul .ct_icon i {
  font-size: 30px;
  padding: 0 5px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .credit_container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .credit_container .ct_rule, .credit_container .ct_credit {
    width: 50%;
    padding: 20px;
  }
  .credit_container .ct_rule {
    padding-left: 15%;
  }
}

.step {
  display: none;
}

.step.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=order.css.map */