h1{
    margin: 0;
    padding: 0;    
}

// * {
//     outline: 1px solid red;
// }

nav {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    overflow: hidden;

    .cloud {
        width: 100%;
        position: fixed;
        z-index: -10;
        top: 0;
        height: 12vh; 
        .doc--bg2 {
            transform: rotate(180deg);
            width: 100%;
            height: 12vh;
            position: absolute;
            overflow: hidden;
            top: 0; 
            #canvas {
                width: 100%;
                height: 12vh;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -10; 
            }
        }
    
    }

    #forester_logo {
        width: 150px;
    }
    #small-forester_logo{display: none;}
    #header-member{
        display: none;
    }
            
    .header-background-cloud {
        width: 100%;
        max-width: 1000px;
        margin: auto;
        z-index: 100;
        
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            margin: 10px  auto;
            span{
                display: none;
             

            }
            li {
                width: 16%;
                display: inline-block;
                text-align: center;
                margin: auto ;
                a {
                    font-size: 22px;
                    font-family: 微軟正黑體;
                    font-weight: bold;
                    color: #008c95;            
                }            
            }
            
            li:nth-child(1){width: 5%;} 
            .header-member{width: 5%;}  
            .header-member a img{
                width: 50px;
                text-align: center;
                margin: auto;

            }
           
        }

        
    }
      
}
    
@keyframes upDown {
    0% { top: 0; }
    20% { top: -3px; }
    40% { top: -8px; }
    60% { top: -5px; }
    80% { top: -8px; }
    100% { top: -4px;}
}


@keyframes uupDown {
    0% { top: 0; }
    20% { top: -7px; }
    40% { top: -18px; }
    60% { top: -5px; }
    80% { top: -17px; }
    100% { top: -5px; }
}


//要做的事情:
//1. 加入會員登入的圖片
//2. 手機版時會員登入的圖片將出現在navbar右邊
//3. 點選icon時,文字會以條列式方式呈現,並以白色為底,例:果然配

/*手機漢堡堡*/
@media screen and (max-width: 767px){
    nav {
        // height: 100vh;
        // background-color: #fff;
         
        #header-member{
            display: inline-block;
            position: fixed;
            right: 1%;
            top: 3%;
            z-index: 1000;
                  img{
                      
                  width: 50px;
                  height: 50px;
                  }                    
        }
        
        .header-background-cloud {
            // background-color: #fff;
            // width: 100%;
            // height: 12vh;
            margin: auto;
            z-index: -100  ;
            position: relative;
             span{
                    width: 100%;
                    height: 100vh;
                    background-color: #fff;
                    position: fixed;
                    display:none;
                    top: 0;
                    left: 0;
                    z-index: 100000;
                    // position: relative;
                }
        
            ul {
                margin: auto; 
                display: block;
                z-index: 10000;    
                position: absolute;
                top: 10%;
                left: 0;
                bottom: 0;
                right: 0;
                padding: 0;
            #forester_logo{
                display: none; 
            } 
            

                li {
                    width: 100%;
                    margin: 20% auto; 
                    text-align: center;
                   display: block; 
                   z-index: 10;
               

                    a {
                        font-size: 22px;
                        font-family: 微軟正黑體;
                        font-weight: bold;
                        color: #008c95;          
                    }            
                }  
                .header-member{display: none;}      
            }
         
        }  
        #small-forester_logo{

            position: fixed;
            display: inline-block;
            top: 10px;
            left: 43%;
            bottom:0%;
            right: 0;
            z-index: -1;
            width: 100px;
            height: 100px;
        
        }  
    }
    .icon {
        position: fixed;
        top: 3vh;
        left: 15px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        // background: #f00;
    }

    .hamburger {
        width: 50px;
        height: 5px;
        background-color: #008c95;
        position: absolute;
        // border: none;
        z-index: 1000;
        top: 20px;
        // box-shadow: 0 2px 5px rgba(0,0,0,.2);
        &::before,
        &::after {
            content:'';
            position: absolute;
            width: 50px;
            height: 5px;
            background: #008c95;
            box-shadow: 0 2px 5px rgba(0,0,0,.2);
            transition: top .5s;

        }
        &::before {
            top: -10px;

        }
        &::after {
            top: 10px;

        }
    }
}
 
.icon.active .hamburger {
    background: rgba(0,0,0,0);
    // box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: top .5s;
    &::before {
        top: 0px;
        transform: rotate(45deg);
        transition: top .5s;

    }
    &::after {
        top: 0px;
        transform: rotate(135deg);
        transition: top .5s;

    }
}



@keyframes show_span{
      0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes noshow_span{
    0%{opacity: 1;}
  100%{opacity: 0;}
}