//bgc
// $green: #92be40;

//title -> $color 
// $black: #232323;


//btn -> $btnColor
$white: #fff;
// $red: #b74848;


//btn -> $bthBgcColor
// $pink: #e13a8c;
// $yellow: #f5b942;


//cardbgc:
$cardYellow: #d79c58;

// rwd變數
$mb :  768px;
$dt: 1200px;

//font Color
// $darkBlue: #233a5c;

//活動規劃的框線顏色
// $brown: #6A3906;

//寬度設定方便計算
$width: 100%;

//活動標題
// $blue: #4aa1d6;

$eventHover: #fdf7bd;

//子平
$blogcard: #FFDDA1;
$blogrank: #FFD19B;



//============================================================
//顏色請使用下方的新顏色
//綠色
$green: green;

// 深深綠
$doubledarkGreen: #367473;

// 深綠
$green: #3ba261;

//淺綠
$lightGreen: #67be8d;

//淺淺綠
$brightGreen: #dae24b;

//黃色
$yellow: #ffdb3f;

//深咖啡色
$darkBrown: #805c35;

//咖啡色帶紅
$redBrown: #946970;

//一般咖啡色
$brown: #947f70;

//淺咖啡色
$lightBrown: #dab980;

//淺淺咖啡色
$brightBrown: #e8c689;

//藍色
$blue: #718cc6;

//淺藍色
$brightBlue: #65a9dc;

//銀色
$silver: #d0dbe0;

//黑色
$black: #403d04;

//紅色
$red: #eb715f;

//粉色
$pink: #f7bac2;

//橘色
$orange: #f3994f;

//深藍綠
$darkBlueGreen: #367473;

